/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 */


@import "bootstrap-sprockets";
@import "bootstrap";


@import "utilities";
@import "pages";

#tablecontainer1 {
	padding-top: 7%;
}

#delete_users{
	padding-bottom: 50px;
}

#tablecontainer2 {
	padding-top: 7%;
}

#tablecontainer3 {
	padding-top: 7%;
}

#tablecontainer4 {
	padding-top: 7%;
}

#tablecontainer5 {
	padding-top: 6px;
}

#td_button{
	text-align: center;
	padding-left: 45%;
}

.button2{
	text-align: center;
	width: 60%;
	padding-left: 40%;
	/*padding-right: 600px;
	padding-left: 600px;*/
}

.test {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 60px;
}
.form{
	text-align: center;
}

.table{
	padding-top: 40px;
}

.table td {
   text-align: center;   
}

.table th {
   text-align: center;   
}

.tfoot{
	text-align: center;
	padding-top: 300px;
}